<section class="section blog" id="blog">
 <div class="blog__container">
   <h1 class=" title blog__title">
    Instagram
   </h1>
   <p class="blog__descr">
    If you want to see more of my sketches, I recommend you to visit my Instagram page. Here I
    regularly update my works, maintain my illustration blog and share my experience as an event illustrator.
   </p>
   <a class="btn btn-reset blog__link" href="https://www.instagram.com/dianaart.ru?igsh=am8yZHkwa3pveWo0" target="_blank" rel="nofollow">
    Follow me on IG
   </a>
  </div> 
</section>