<section class="section experience" id="experience">
 <div class="experience__container">
  <h2 class="experience__subtitle">
    Work experience
  </h2>
  <h3 class="title experience__title ">
     Companies i have worked for in the past
  </h3>
   <ol class="experience__list list-reset">
    <li class="experience__item item-experience">
     <h3 class="experience__headline ">
        Chloe
     </h3>
     <div class="experience__text">
      <p class="experience__descr">
        In the spring of 2024, I had the honor of sketching children's portraits at the launch of the brand's latest children's clothing line in Abu Dhabi. 
      </p>  
      <button id="open-gallery-chloe" class="experience__btn btn btn-reset">
        See the gallery
      </button>
        <div class="gallery experience__gallery-chloe">
          <a class="gallery__link-chloe" href="img/Chloe-1.jpg"><img src="img/Chloe-1.jpg" alt="Chloe image 1"></a>
          <a class="gallery__link-chloe" href="img/Chloe-2.jpg"><img src="img/Chloe-2.jpg" alt="Chloe image 2"></a>
          <a class="gallery__link-chloe" href="img/Chloe-3.jpg"><img src="img/Chloe-3.jpg" alt="Chloe image 3"></a>
          <a class="gallery__link-chloe" href="img/Chloe-4.jpg"><img src="img/Chloe-4.jpg" alt="Chloe image 4"></a>
          <a class="gallery__link-chloe" href="img/Chloe-5.jpg"><img src="img/Chloe-5.jpg" alt="Chloe image 5"></a>
          <a class="gallery__link-chloe" href="img/Chloe-6.jpg"><img src="img/Chloe-6.jpg" alt="Chloe image 6"></a>
          <a class="gallery__link-chloe" href="img/Chloe-7.jpg"><img src="img/Chloe-7.jpg" alt="Chloe image 7"></a>
          <a class="gallery__link-chloe" href="img/Chloe-8.jpg"><img src="img/Chloe-8.jpg" alt="Chloe image 8"></a>
          <a class="gallery__link-chloe" href="img/Chloe-9.jpg"><img src="img/Chloe-9.jpg" alt="Chloe image 9"></a>
          <a class="gallery__link-chloe" href="img/Chloe-10.jpg"><img src="img/Chloe-10.jpg" alt="Chloe image 10"></a>
          <a class="gallery__link-chloe" href="img/Chloe-11.jpg"><img src="img/Chloe-11.jpg" alt="Chloe image 11"></a>
      </div>
     </div>
    </li>
    <li class="experience__item item-experience">
    <h3 class="experience__headline">
        Estee lauder 
    </h3>
     <div class="experience__text">
      <p class="experience__descr">
        In 2021, I participated in the launch of the new "Luxury collection" line in Moscow's TSUM. 
      </p> 
      <button id="open-gallery-estee" class="experience__btn btn btn-reset">
        See the gallery
      </button>
       <div class="gallery experience__gallery-estee">
          <a class="gallery__link-estee" href="img/EsteeLauder-1.jpg"><img src="img/EsteeLauder-1.jpg" alt="Estee Lauder image 1"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-2.jpg"><img src="img/EsteeLauder-2.jpg" alt="Estee Lauder image 2"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-3.jpg"><img src="img/EsteeLauder-3.jpg" alt="Estee Lauder image 3"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-4.jpg"><img src="img/EsteeLauder-4.jpg" alt="Estee Lauder image 4"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-5.jpg"><img src="img/EsteeLauder-5.jpg" alt="Estee Lauder image 5"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-6.jpg"><img src="img/EsteeLauder-6.jpg" alt="Estee Lauder image 6"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-7.jpg"><img src="img/EsteeLauder-7.jpg" alt="Estee Lauder image 7"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-8.jpg"><img src="img/EsteeLauder-8.jpg" alt="Estee Lauder image 8"></a>
          <a class="gallery__link-estee" href="img/EsteeLauder-9.jpg"><img src="img/EsteeLauder-9.jpg" alt="Estee Lauder image 9"></a>
      </div> 
     </div>
    </li>
    <li class="experience__item item-experience">
     <h3 class="experience__headline">
        Omega
     </h3>
     <div class="experience__text">
      <p class="experience__descr">
        In the spring of 2020, the brand surprised its regular customers with portrait sketches at the presentation of the new zodiac-themed watch model.
      </p> 
      <button id="open-gallery-omega" class="experience__btn btn btn-reset">
        See the gallery
      </button>
        <div class="gallery experience__gallery-omega">
          <a class="gallery__link-omega" href="img/Omega-1.jpg"><img src="img/Omega-1.jpg" alt="Omega image 1"></a>
          <a class="gallery__link-omega" href="img/Omega-2.jpg"><img src="img/Omega-2.jpg" alt="Omega image 2"></a>
          <a class="gallery__link-omega" href="img/Omega-3.jpg"><img src="img/Omega-3.jpg" alt="Omega image 3"></a>
          <a class="gallery__link-omega" href="img/Omega-4.jpg"><img src="img/Omega-4.jpg" alt="Omega image 4"></a>
          <a class="gallery__link-omega" href="img/Omega-5.jpg"><img src="img/Omega-5.jpg" alt="Omega image 5"></a>
          <a class="gallery__link-omega" href="img/Omega-6.jpg"><img src="img/Omega-6.jpg" alt="Omega image 6"></a>
          <a class="gallery__link-omega" href="img/Omega-7.jpg"><img src="img/Omega-7.jpg" alt="Omega image 7"></a>
          <a class="gallery__link-omega" href="img/Omega-8.jpg"><img src="img/Omega-8.jpg" alt="Omega image 8"></a>
        </div>  
     </div>
    </li>
    <li class="experience__item item-experience">
      <h3 class="experience__headline">
        Nashi Argan
      </h3>
      <div class="experience__text">
        <p class="experience__descr">
          In the fall of 2023, I customized the packaging for the gift sets from the brand’s new hair care line.
        </p> 
        <button id="open-gallery-nashi" class="experience__btn btn btn-reset">
          See the gallery
        </button>
        <div class="gallery experience__gallery-nashi">
          <a class="gallery__link-nashi" href="img/Nashi-1.jpg"><img src="img/Nashi-1.jpg" alt="Nashi image 1"></a>
          <a class="gallery__link-nashi" href="img/Nashi-2.jpg"><img src="img/Nashi-2.jpg" alt="Nashi image 2"></a>
          <a class="gallery__link-nashi" href="img/Nashi-3.jpg"><img src="img/Nashi-3.jpg" alt="Nashi image 3"></a>
          <a class="gallery__link-nashi" href="img/Nashi-4.jpg"><img src="img/Nashi-4.jpg" alt="Nashi image 4"></a>
          <a class="gallery__link-nashi" href="img/Nashi-5.jpg"><img src="img/Nashi-5.jpg" alt="Nashi image 5"></a>
          <a class="gallery__link-nashi" href="img/Nashi-6.jpg"><img src="img/Nashi-6.jpg" alt="Nashi image 6"></a>
          <a class="gallery__link-nashi" href="img/Nashi-7.jpg"><img src="img/Nashi-7.jpg" alt="Nashi image 7"></a>
          <a class="gallery__link-nashi" href="img/Nashi-8.jpg"><img src="img/Nashi-8.jpg" alt="Nashi image 8"></a>
          <a class="gallery__link-nashi" href="img/Nashi-9.jpg"><img src="img/Nashi-9.jpg" alt="Nashi image 9"></a>
          <a class="gallery__link-nashi" href="img/Nashi-10.jpg"><img src="img/Nashi-10.jpg" alt="Nashi image 10"></a>
       </div>   
      </div>
    </li>
   </ol>
 </div>
</section>