<section id="feedback" class="section feedback">
 <div class="feedback__container">
  <div class="feedback__text">
    <h2 class=" title feedback__title">
      This is what people say about me 
    </h2> 
    <p class="feedback__descr">
      Here are a few lines from people who I have worked with over the past 5+ years in my career.
    </p>
   </div>
      <ul class=" feedback__list list-reset">
        <li class=" feedback__item ">
          <div class="feedback__content">
           <blockquote class="feedback__quote">
            ‘’The sketches are amazing !! Really love them! Thank you for being with us tonight’’
           </blockquote>
           <div class="feedback__person">
            <span class="feedback__name">
              Jade Ducros
              </span>
               <span class="feedback__occupation">
              Chloe 
             </span>
           </div>
          </div>
        </li>
        <li class="feedback__item">
          <div class="feedback__content">
            <blockquote class="feedback__quote">
               ‘’ Veeeeery nice I like it! It was fun and the artwork
              is very very beautiful and lovely!’’ 
           </blockquote>
           <div class="feedback__person">
            <span class="feedback__name">
              Al Anood
             </span>
             <span class="feedback__occupation">
              The Bride
            </span>
           </div>
          </div>
        </li>
        <li class="feedback__item"> 
          <div class="feedback__content">
           <blockquote class="feedback__quote">
             ‘’ Diana did an amazing job and her attitude was professional and consistent until the end with her talent shining through the lovely pages my family and friends now treasure and are able to remember my special night 💕🫶🏻 ’’
           </blockquote>
           <div class="feedback__person">
            <span class="feedback__name">
              Maitha Ali
            </span>
            <span class="feedback__occupation">
              The Bride
            </span>
           </div>
          </div> 
        </li>
      </ul>
  </div>
</section>