<header class="header" id="header">
 <div class="header__container">
   <a href="#portfolio" class="logo header__logo" aria-label="Logo">
    <img class="header__logo" src="img/logo.png" alt="DianaArt logo">
   </a>
   <nav id="nav" class="nav header__nav" title="main navigation">
    <ul class="nav__list list-reset flex">
     <li class="nav__item">
      <a href="#portfolio" class="nav__link" aria-label="Portfolio" >
         Portfolio 
      </a>
     </li>
     <li>
     <a href="#about" class="nav__link" aria-label="About me">
      About me 
     </a>
    </li>
    <li class="nav__item">
     <a href="#styles" class="nav__link" aria-label="Styles">
      Styles
     </a>
    </li>
    <li class="nav__item">
     <a href="#blog" class="nav__link" aria-label="Blog">
        Blog 
     </a>
    </li>
    <li class="nav__item">
     <a href="#contacts" class="nav__link" aria-label="Contacts" >
      Contacts
     </a>
    </li>
   </ul>
  </nav>
  <button type="button" class="btn-reset header__btn burger" id="burger">
   <span class="burger__line"></span>
  </button>
 </div>  
</header>