<section class="section hero" id="hero">
 <div class=" hero__container ">
  <div class="hero__wrap">
   <picture class="hero__img">
      <source srcset="img/hero-576.webp" media="(max-width: 576px)">
      <source srcset="img/hero-576.jpg" media="(max-width: 576px)">
      <source srcset="img/hero.webp" type="image/webp">
      <img class="img" src="img/hero.jpg" alt="Diana's photo" width="750" height="650">
   </picture>
  <div class="hero__text">
   <h1 class=" title hero__title">
      My name is Diana Mikhaleva.
   </h1>
   <p class="hero__descr">
     I am your event illustrator from <span>Dubai</span> who draws the most exquisite and captivating
     portrait sketches from scratch. 
   </p>
  </div>
  </div>
 </div>  
</section>