<section id="illustrations" class="section illustrations">
 <div class=" illustrations__container">
  <h2 class=" title illustrations__title">
    Illustrations
  </h2>
  <p class="illustrations__descr">
    I am also improving in commercial fashion illustration and actively experimenting in this area. In my
    works, I try to express my vision of female beauty and fashion using visual solutions. 
  </p>
  <button id="open-gallery-illustrations" class="btn illustrations__btn btn-reset">
    See the gallery
  </button>
  <div class="gallery illustrations__gallery">
    <a class="gallery__link-illustrations" href="img/illustrations-4.jpg"><img src="img/illustrations-4.jpg" alt="illustration 4"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-5.jpg"><img src="img/illustrations-5.jpg" alt="illustration 5"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-6.jpg"><img src="img/illustrations-6.jpg" alt="illustration 6"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-7.jpg"><img src="img/illustrations-7.jpg" alt="illustration 7"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-8.jpg"><img src="img/illustrations-8.jpg" alt="illustration 8"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-9.jpg"><img src="img/illustrations-9.jpg" alt="illustration 9"></a>
    <a class="gallery__link-illustrations" href="img/illustrations-10.jpg"><img src="img/illustrations-10.jpg" alt="illustration 10"></a>
 </div>   
  <div class="illustrations__images">
    <img src="img/illustrations-1.jpg" alt="illustration-1" class="illustrations__img img" loading="lazy">
    <img src="img/illustrations-2.jpg" alt="illustration-2" class="illustrations__img img" loading="lazy">
    <img src="img/illustrations-3.jpg" alt="illustration-3" class="illustrations__img img" loading="lazy">
  </div>
 </div>
</section>