<section class=" section portfolio" id="portfolio">
 <div class="portfolio__container">
  <h2 class=" title portfolio__subtitle">
    Portfolio
  </h2>
  <h3 class="portfolio__title title">
    Work that i’ve done for the past 5 years
  </h3>
  <div class="slider-box portfolio__box">
    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper portfolio__images">
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-1.jpg" alt="Image 1" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-2.jpg" alt="Image 2" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-3.jpg" alt="Image 3" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-4.jpg" alt="Image 4" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-5.jpg" alt="Image 5" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-6.jpg" alt="Image 5" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-7.jpg" alt="Image 5" loading="lazy">
        </div>
        <div class="swiper-slide portfolio__image">
          <img class="portfolio__img" src="../img/slider-8.jpg" alt="Image 5" loading="lazy">
        </div>
       </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-button-next swiper-navBtn"></div>
    </div>
  </div>
   </div>
</section>