<section class=" section portfolio" id="portfolio">
 <div class="portfolio__container">
  <h2 class=" title portfolio__subtitle">
    Portfolio
  </h2>
  <h3 class="portfolio__title title">
    Work that i’ve done for the past 5 years
  </h3>
  <div class="slider-box portfolio__box">
    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper portfolio__images">
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-1-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-1-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-1.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-1.jpg" alt="Image 1" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-2-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-2-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-2.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-2.jpg" alt="Image 2" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-3-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-3-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-3.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-3.jpg" alt="Image 3" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-4-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-4-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-4.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-4.jpg" alt="Image 4" width="1200" height="550" loading="lazy">
          </picture>  
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-5-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-5-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-5.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-5.jpg" alt="Image 5" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-6-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-6-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-6.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-6.jpg" alt="Image 5" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-7-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-7-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-7.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-7.jpg" alt="Image 5" width="1200" height="550" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide portfolio__image">
          <picture>
            <source srcset="img/slider-8-576.webp" media="(max-width: 576px)">
            <source srcset="img/slider-8-576.jpg" media="(max-width: 576px)">
            <source srcset="img/slider-8.webp" type="image/webp">
            <img class="portfolio__img" src="img/slider-8.jpg" alt="Image 5" width="1200" height="550" loading="lazy">
          </picture>   
        </div>
       </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-button-next swiper-navBtn"></div>
    </div>
  </div>
   </div>
</section>