<section class="section styles" id="styles">
 <div class="styles__container">
  <div class="styles__text">
    <h2 class=" title styles__title">
      Styles
    </h2>
    <p class="styles__descr">
      With expertise spanning across multiple disciplines of event illustration, I am the perfect person to engage for comprehensive projects.
      No matter the scope of your requirements, I am fully equipped to tackle any creative endeavor with custom illustrations that will elevate your event. Click the name of the style to see more.
    </p>
  </div>
  <div class="styles__items">
    <div class="styles__item">
      <img class=" img styles__img" src="img/styles-1.jpg" alt="Classic style image" loading="lazy">
      <div class="img__container">
      </div>
      <button id="open-gallery-classic" class="styles__btn btn-reset">
        Classic style 
      </button>
      <div class="gallery styles__gallery-classic">
        <a class="gallery__link-classic"  href="img/Classic-1.jpg"><img src="img/Classic-1.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-2.jpg"><img src="img/Classic-2.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-3.jpg"><img src="img/Classic-3.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-4.jpg"><img src="img/Classic-4.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-5.jpg"><img src="img/Classic-5.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-6.jpg"><img src="img/Classic-6.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-7.jpg"><img src="img/Classic-7.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-8.jpg"><img src="img/Classic-8.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-9.jpg"><img src="img/Classic-9.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-10.jpg"><img src="img/Classic-10.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-11.jpg"><img src="img/Classic-11.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-12.jpg"><img src="img/Classic-12.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-13.jpg"><img src="img/Classic-13.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-14.jpg"><img src="img/Classic-14.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-15.jpg"><img src="img/Classic-15.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-16.jpg"><img src="img/Classic-16.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-17.jpg"><img src="img/Classic-17.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-18.jpg"><img src="img/Classic-18.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-19.jpg"><img src="img/Classic-19.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-20.jpg"><img src="img/Classic-20.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-21.jpg"><img src="img/Classic-21.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-22.jpg"><img src="img/Classic-22.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-23.jpg"><img src="img/Classic-23.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-24.jpg"><img src="img/Classic-24.jpg"></a>
        <a class="gallery__link-classic"  href="img/Classic-25.jpg"><img src="img/Classic-25.jpg"></a>
       </div>
      <p class="styles__descr">
        Full-length figure sketches with a focus on outfit, hairstyle, and accessories. These sketches, complete with expressive faces, are perfect for family gatherings and corporate events. 
        Each piece is meticulously drawn in just 8-9 minutes, using either vibrant watercolors or bold markers.
      </p>
    </div>
    <div class="styles__item">
      <img class=" img styles__img" src="img/styles-2.jpg" alt="Portrait style image" loading="lazy">
       <button id="open-gallery-portrait" class="styles__btn btn-reset">
        Portrait style  
       </button>
       <div class="gallery styles__gallery-classic">
        <a class="gallery__link-portrait" href="img/Portrait-1.jpg"><img src="img/Portrait-1.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-2.jpg"><img src="img/Portrait-2.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-3.jpg"><img src="img/Portrait-3.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-4.jpg"><img src="img/Portrait-4.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-5.jpg"><img src="img/Portrait-5.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-6.jpg"><img src="img/Portrait-6.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-7.jpg"><img src="img/Portrait-7.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-8.jpg"><img src="img/Portrait-8.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-9.jpg"><img src="img/Portrait-9.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-10.jpg"><img src="img/Portrait-10.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-11.jpg"><img src="img/Portrait-11.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-12.jpg"><img src="img/Portrait-12.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-13.jpg"><img src="img/Portrait-13.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-14.jpg"><img src="img/Portrait-14.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-15.jpg"><img src="img/Portrait-15.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-16.jpg"><img src="img/Portrait-16.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-17.jpg"><img src="img/Portrait-17.jpg"></a>
        <a class="gallery__link-portrait" href="img/Portrait-18.jpg"><img src="img/Portrait-18.jpg"></a>
       </div>
      <p class="styles__descr">
        Detailed portrait sketches focusing on capturing likeness and emotion  with special attention to accessories and makeup. Ideal for corporate events, anniversaries, and high-traffic gatherings. 
        Each sketch takes 8-9 minutes to complete and can be done in watercolors or markers.
      </p>
    </div>
    <div class="styles__item">
     <img class=" img styles__img" src="img/styles-3.jpg" alt="Fashion style image" loading="lazy">
     <button id="open-gallery-fashion" class="styles__btn btn-reset">
        Fashion style 
     </button> 
     <div class="gallery styles__gallery-fashion">
      <a class="gallery__link-fashion" href="img/Fashion-1.jpg"><img src="img/Fashion-1.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-2.jpg"><img src="img/Fashion-2.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-3.jpg"><img src="img/Fashion-3.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-4.jpg"><img src="img/Fashion-4.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-5.jpg"><img src="img/Fashion-5.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-6.jpg"><img src="img/Fashion-6.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-7.jpg"><img src="img/Fashion-7.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-8.jpg"><img src="img/Fashion-8.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-9.jpg"><img src="img/Fashion-9.jpg"></a>
      <a class="gallery__link-fashion" href="img/Fashion-10.jpg"><img src="img/Fashion-10.jpg"></a>
     </div>
      <p class="styles__descr">
        The fastest style sketch. Stylized full-body illustrations capture the essence of your look, focusing on outfit, hairstyle, and accessories while omitting facial details. 
        Each piece is brought to life in just 6-7 minutes through the fluid grace of watercolors or the bold definition of markers.
     </p>
    </div>
    <div class="styles__item">
    <img class=" img styles__img" src="img/styles-4.jpg" alt="Anime style image" loading="lazy">
     <button id="open-gallery-anime" class="styles__btn  btn-reset ">
       Anime style
     </button> 
     <div class="gallery styles__gallery-anime">
      <a class="gallery__link-anime" href="img/Anime-1.jpg"><img src="img/Anime-1.jpg"></a>
      <a class="gallery__link-anime" href="img/Anime-2.jpg"><img src="img/Anime-2.jpg"></a>
      <a class="gallery__link-anime" href="img/Anime-3.jpg"><img src="img/Anime-3.jpg"></a>
      <a class="gallery__link-anime" href="img/Anime-4.jpg"><img src="img/Anime-4.jpg"></a>
      <a class="gallery__link-anime" href="img/Anime-5.jpg"><img src="img/Anime-5.jpg"></a>
     </div>
     <p class="styles__descr">
      Perfect for capturing the adorable children's face expressions at your child's party.
      Each portrait, crafted with premium markers, is completed in just 8 minutes."
    </p>
   </div>
   <div class="styles__item">
    <img class=" img styles__img" src="img/styles-5.jpg" alt="black and white style image" loading="lazy">
     <button id="open-gallery-bw" class="styles__btn btn-reset">
       B&W graphic style
     </button> 
     <div class="gallery styles__gallery-bw">
      <a class="gallery__link-bw" href="img/b&w-1.jpg"><img src="img/b&w-1.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-2.jpg"><img src="img/b&w-2.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-3.jpg"><img src="img/b&w-3.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-4.jpg"><img src="img/b&w-4.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-5.jpg"><img src="img/b&w-5.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-6.jpg"><img src="img/b&w-6.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-7.jpg"><img src="img/b&w-7.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-8.jpg"><img src="img/b&w-8.jpg"></a>
      <a class="gallery__link-bw" href="img/b&w-9.jpg"><img src="img/b&w-9.jpg"></a>
     </div>
     <p class="styles__descr">
      Detailed close-up portraits capturing the exact likeness, meticulously crafted with black colored pencils and ink. 
      Alternatively, you can choose markers for a bold, expressive finish. Your personalized portrait is ready in just 8 minutes.
    </p>
   </div>
  </div>
 </div>
</section>